html, body {
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    line-height:normal;
}

.navigation {
    font-weight:bold;
    padding: 5px 0px 5px 0px;
}
.navigation a {
    padding-left:5px;
    color:#15428B;
}

.navigation span {
    color:#000000;    
}

#flash_message {
}

.flash_message_content {
    border: 2px solid #AFA;
    background-color: #DFD;
    font-weight: bold;
    margin: 2px;
    padding: 3px 5px;
}