<div class="navigation">
	<%=get_breadcrumb(params) %>
</div>
<div id="flash_message">
  <% if flash[:notice] %>
  <div class="flash_message_content">
    <%= flash[:notice] %>
  </div>
  <% end %>
</div>